body {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }

img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }

h2,p {
    margin-bottom: .5em;
    font-family: 'Lekton', sans-serif;
  }

section {
  margin-bottom: 40px;
}

#fotobio {
  width: 180px;
  height: 280px;
  padding: 20px;
}

#title {
    font-family: 'Mr Dafoe', cursive;
    font-size: 50px;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
} 
  
  /* hover styles */
.location-listing {
    position: relative;
  }
  
.location-image {
    line-height: 0;
    overflow: hidden;
  }
  
.location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    height: 170px;
}
  

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(74, 102, 196, 0.63);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.location-listing:hover .location-title {
    opacity: 1;
  }
  
.location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }